@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;1,800&display=swap');


@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}
:root {
  --bgWhite: #fcfbfa;
  --bgColor: #0a0e1b;
  --linkColor: rgb(217 143 252);
  --linkHover: rgb(223 119 254);
  --heading: #0a1b32;
}
.dark-bg {
  background: var(--bgColor);
}

::selection {
  color: #001780;
  background: #f2cffd;
}


body {
  background: var(--bgWhite);
}
h1,
h2,
h3,
p,
body,
li {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: rgb(47 46 68);
}
p {
  font-size: 1.2em;
  line-height: 1.7;
  padding-bottom: 20px;
}
a{
  color: #00828b;
}
a:hover{
  color: #00b0bd;
  text-decoration: underline;
}
h1 {
  font-family: "Playfair Display", serif;
  font-size: 35px;
  font-weight: 600;
  color: var(--heading);
  max-width: 400px;
  margin-bottom: 20px;
}
.delightful{
  color:#018d96;
  border-bottom: 5px solid #018d96;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: var(--heading);
  font-size: 1.75em;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 600;

}
h2 strong{
  font-weight: 900;
  color:rgb(3, 3, 3);
  font-style: italic;
}
h3 {
  font-family: 'Playfair Display', serif;
  color: var(--heading);
  font-size: 1.1em;
  margin-bottom: 20px;
  margin-top: 10px;
}
.project h2{
  margin-bottom:5px;
}
h3 a{
  font-style: italic;
  font-size:1rem;
  color:#007e9e;
}
h3 a:hover{
  color:#00d0df;
  text-decoration: none;
  cursor:hand;
  cursor:zoom-in;
}
.img-resp {
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.center{
  margin: 0 auto;
}
.text-right {
  text-align: right;
}
.text-white {
  color: #F0F0F3;
}
.limit300 {
  max-width: 300px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-narrow {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 20px;
}
.container-narrow h2 {
  max-width: 450px;
  display: block;
}
.container-wide {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.w800{
  max-width: 800px;
}
.w500{
  max-width: 500px;
}
.w300{
  max-width: 300px;
}
.w200{
  max-width: 200px;
}

.section-space{
  margin-top: 80px;
  margin-bottom: 80px;
}
.pt-40 {
  padding-top: 45px;
}
.right-text {
  text-align: right;
}
.lets-talk {
  font-family: "Playfair Display", serif;
  display: inline-block;
  color: var(--heading);
  margin-top: 20px;
  margin-bottom: 33px;
  font-size: 19px;
}
.lets-talk:hover {
  color: #2e2e30;
  font-family: "Playfair Display", serif;
  border-bottom: #3e3e40 3px solid;
  display: inline-block;
  margin-bottom: 30px;
}

.flex {
  display: flex;
}
.justify-end{
  justify-content:flex-end;
}
.basis30 {
  flex-basis: 33%;
}
.basis40 {
  flex-basis: 50%;
}
.basis60 {
  flex-basis: 60%;
}
.basis70 {
  flex-basis: 70%;
}
.basis50 {
  flex-basis: 50%;
}
.left {
  padding-right: 20px;
}
.right {
  padding-left: 20px;
}
@media only screen and (max-width: 800px) {
  .left,
  .right {
    padding-right: 0px;
    padding-left: 0px;
  }
  .flex {
    flex-direction: column;
  }
  .basis50 {
    flex-basis: 100%;
  }
}

.pt-50 {
  padding-top: 50px;
}
.pb-50 {
  padding-bottom: 50px;
}
.pt-30 {
  padding-top: 30px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 30px;
}
.pl-desktop {
  padding-left: 20px;
}
.pr-desktop {
  padding-right: 20px;
}
@media only screen and (max-width: 600px) {
  .pl-desktop {
    padding-left: 0px;
  }
}

.round {
  border-radius: 30px;
}

/* //

#Hero

// */
.hero {
  min-height: 300px;
  background-image: url("img/bg-img-repeat.png");
  background-repeat: repeat;
  background-size: 25px 25px;
}
.bg-dotted{
  background-image: url("img/bg-img-repeat.png");
  background-repeat: repeat;
  background-size: 25px 25px;
}

.bg-white{
  background: var(--bgWhite);
}
.sunset-cover{
  height:100%; align-items: flex-end; display: flex; justify-content: flex-end; min-height: 300px;
}
.sunset{
   position:relative; bottom:-10px;max-width: 400px;
}
.boxhang {
  min-height: 100px;
  padding-bottom: 20px;
  padding-top: 10px;
}


@media only screen and (max-width: 600px) {
  .sunset{
    max-width: 100%;
  }
  h1 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-weight: 600;
    color: #3e3e40;
    max-width: 90%;
  }
  .delightful{
    color:#018d96;
    border-bottom: 2px solid #018d96;
  }
}

/* .bedge{
    box-sizing: content-box;
  position: relative;
  width: 50px;
  padding: 0px 5px;
  top: 5px;
  display: inline-block;
} */

.tw-icon {
  box-sizing: content-box;
  position: relative;
  width: 30px;
  padding: 0px 5px;
  top: 8px;
  display: inline-block;
}
.tw-icon img {
  border-radius: 50%;
}

@media only screen and (max-width: 600px) {
  .lightgray-on-mobile {
    background-color: rgb(248, 248, 248);
  }
}

/* //

#CenterCentre

// */
.uie-preview {
  padding: 0 10px;
  /* background-color: lightpink; */
  padding-top: 20px;
  overflow: hidden;
}
@media only screen and (max-width: 800px) {
  .uie-preview {
    padding: 0 10px;
    /* background-color: lightpink; */
    padding-top: 50px;
  }
}
.uie-preview img {
  position: relative;
  top: 20px;
  transition: all 1s;
}
.uie-preview img:hover {
  position: relative;
  top: 5px;
  transition: all 0.2s;
}
@media only screen and (max-width: 800px) {
  .uie-preview {
    max-width: 300px;
    margin: 0 auto;
  }
}
.preview-shadow {
  -webkit-box-shadow: 0px 10px 15px -15px rgba(58, 78, 100, 0.5);
  box-shadow: 0px 10px 15px -15px rgba(58, 78, 100, 0.5);
  transition: all 1s;
}
.preview-shadow:hover {
  -webkit-box-shadow: 0px 15px 15px -15px rgba(58, 78, 100, 0.5);
  box-shadow: 0px 15px 15px -15px rgba(58, 78, 100, 0.5);
  transition: all 0.2s;
}

/*

#Buttons

*/
.portfolio-button {
  color: var(--heading);
  background: none;
  font-weight: 400;
  margin: 20px 10px 20px 0px;
  border: 1px solid var(--heading);
  padding: 1em 2em;
  display: inline-block;
  text-align: center;
  line-height: 1;
  min-width: 200px;
}

.portfolio-button:hover,
.portfolio-button:focus {
  box-shadow: inset 200px 0 0 0 var(--hover);
}
.portfolio-button {
  --color: rgb(1, 7, 26);
  --hover: rgb(1, 7, 26);
  color: var(--color);
  transition: 0.4s;
}
.portfolio-button:hover, .portfolio-button:focus {
  border-color: var(--hover);
  color: #fff;
}

.button-enclose {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
@media only screen and (max-width: 800px) {
  .button-enclose {
    justify-content: space-evenly;
  }
}


/*
  ShowButton
*/

.show-button {
  color: var(--heading);
  background: none;
  font-weight: 400;
  font-size:0.9em;
  /* margin: 20px 10px 20px 0px; */
  border: 1px solid rgb(206, 223, 231);
  display: inline-block;
  line-height: 1;
  /* min-width: 230px; */

  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin:5px;
  margin-right:15px;

}

.show-button:hover,
.show-button:focus {
  box-shadow: inset 230px 0 0 0 var(--hover);
}
.show-button {
  --color: rgb(1, 16, 100);
  /* --color: rgb(77 12 137); */
  --hover: rgb(219, 220, 245);

  color: var(--color);
  transition: 0.4s;
}


.show-button span{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left:0.2em;
  padding-right:0.75em;
  display: inline-block;
}

.show-button .title{
  font-size:0.85em;
  font-weight: 600;;
  color:rgb(0, 100, 139);
  background-color: rgb(228, 239, 248);
  padding: 0.8em 0.5em;
  margin:0;

  display: inline-block;
}



.show-button:hover, .show-button:focus {
  /* border-color:rgb(206, 223, 231); */
  color: rgb(77 12 137);
}

.show-button-enclose {
  background-color: rgb(248, 249, 255);
  display:inline-flex;
}
@media only screen and (max-width: 800px) {
  .show-button-enclose {
    justify-content: space-evenly;
  }
}
/*

#Buttons

*/
.display-box-wide {
  margin: 10px;
}
.badge {
  box-sizing: content-box;
  position: relative;
  width: 50px;
  padding: 0px 5px;
  top: 8px;
  display: inline-block;
}

.horiz-center {
  display: flex;
  align-items: center;
}

/*
#Footer
*/
footer ul li {
  list-style-type: none;
  margin: 10px 0px;
  font-size: 1.4em;
}
footer .icon{
  max-height: 30px;
  margin: 10px;
}